@font-face {
  font-family: Calisto Mt;
  src: url(../assets/fonts/calisto-mt.ttf);
}

@font-face {
  font-family: Calisto Mt Italic;
  src: url(../assets/fonts/calisto-mt-italic.ttf);
}

@font-face {
  font-family: Calisto Mt Bold;
  src: url(../assets/fonts/calisto-mt-italic.ttf);
}

@font-face {
  font-family: Calisto Mt Bold Italic;
  src: url(../assets/fonts/calisto-mt-bold-italic.ttf);
}
