<main class="main">
  <h1 class="main__title">Swiftie.</h1>
  <div *ngIf="songData" class="interface-container">
    <p class="interface-container__quote">{{ songData.quote }}</p>
    <div class="buttons-container">
      <input
        type="text"
        [(ngModel)]="titleGuess"
        class="interface-container__input"
        placeholder="Type a song"
      />
      <button class="btn" (click)="checkGuess()">See Answer</button>
      <button class="btn" (click)="regenerate()">Generate Again</button>
    </div>
    <p class="interface-container__feedback">{{ feedback }}</p>
    <p class="interface-container__streak">Current streak: {{ streak }}</p>
  </div>
</main>
